h1 {}
.range{
    width:33%;
    display: inline-block;
    /* background: black; */
}
.title{

text-align: center;
}
.range textarea{
    resize: none;
    padding: 20px;
    width: 100%;
    background-color: #f3e2c5;
    /* max-width: 1024px; */
    height: 1024px;
}
.input{
    background: white;
}
.input textarea{

background: white;
}
